body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap overrides */

.popover {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/*Vertical offset*/
.vOffSet1 { margin-top: 2px;}
.vOffSet2 { margin-top: 5px;}
.vOffSet3 { margin-top: 10px;}
.vOffSet4 { margin-top: 20px;}
.vOffSet5 { margin-top: 40px;}
.vOffSet6 { margin-top: 80px;}

/* Navbar styles*/
.navbar-inverse {
    background-color: #4cbb17;
    border-color: #4cbb17;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #4cbb17;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-inverse .notifications {
    position: relative;
}

.navbar-inverse .notifications .badge {
    position: absolute;
    top: 8px;
    right: 0;    
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
}

/*.dropdown-menu {
    box-shadow: none;
}*/

/* Font styles*/

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

/* Form styles */

.form-group {
    margin-bottom: 19px;
}

.form-control {
    font-size: 16px;
    height: 44px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.form-control:focus {
    border-color: #428bca;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.form-group .field-validation-error {
    color: red;    
}

/* Page specific styles */

.paddles {
    list-style: none;
}

.paddles > li {
    position: relative; 
    margin-bottom: 80px;    
}

.paddles > li .date {
    background: #4cbb17;
    color: #ffffff;
    text-align: center;
    width: 60px;
    border-radius: 6px;
}

.paddles > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

.paddles > li .date .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.paddles > li .details {
    position: absolute;
    top: 0;
    left: 100px;
}    

    .paddles > li .details .paddler {
        font-weight: bold;
        display: block;
    }

    .paddles > li .details .location {        
        display: block;
        font-size: 14px;
    }

    .paddles > li .details .type {
        font-size: 14px;
    }

    .paddles > li .details .btn {
        display: block;
    }

.paddles > li .actions {
    position: absolute;   
    left: 100px;
    margin-top: 5px;
}
    .paddles > li .actions .attend {       
        display: block; 
    }

.paddles > li .manage {
    font-size: 15px;
    display: none;
}

.paddles > li:hover .manage {
    display: block;
}

/*.popover-notifications .popover-content {
    padding: 0;
}*/

ul.notifications {
    list-style: none;
    padding-left: 0;
}

ul.notifications > li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

ul.notifications .highlight {
    font-weight: bold;
}

    ul.notifications > li:last-child {
        border-bottom: none;
    }

