@model PaddleHub.Models.Paddle


@{
    ViewBag.Title = "Details";
}

<h2>@Model.Paddler.UserDetails.Name()</h2>

<h4>Is listing a paddle event at @Model.Location, on @Model.DateTime.Date.ToString("D") </h4>

