@using Microsoft.AspNet.Identity
@model PaddleHub.Models.Paddle


@{
    ViewBag.Title = "Details";
}

<h2>@Model.Paddler.UserDetails.Name()</h2>

<h4>Is listing a paddle event at @Model.Location, on @Model.DateTime.Date.ToString("D") </h4>

@if (Model.Attendances.Any(a => a.AttendeeId == User.Identity.GetUserId()))
{
    <p>You are currently attending this event.</p>
}
