@model IEnumerable<PaddleHub.Models.Paddle>
@{
    ViewBag.Title = "Home Page";
}

<Ul>
    @foreach (var paddle in Model)
    {
        <li>
            @paddle.DateTime - @paddle.Paddler.Name()
        </li>
    }
</Ul>